$pink: #fd8bb5;
$green: #6dedbe;
$turquoise: #60d0e3;
$blue: #93d4f5;
$orange: #f3a274;
$yellow: #ffec4e;

$color-typography-base: $pink;
$color-accent: $green;
$color-header-bg: $color-accent;
$color-body-bg: $pink;
